* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 25%;
  margin: auto;
  height: 45%;
  text-align: center;
  font-family: arial;
  padding: 1%;
}
#cart {
  margin: 0% 10% 0% 10%;
}
#pro {
  background-color: plum;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.p {
  background-color: plum;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  text-align: center;
  padding: 2%;
}
#parent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0% 10% 0% 10%;
}
.price {
  color: grey;
  font-size: 22px;
}

.card .cart {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.btn {
  padding: 1%;
  padding-top: 2%;
}
.btns {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .cart:hover {
  opacity: 0.7;
}
/* // console.log(laptopAccesoriesStock);
// let q = 1;
// let cat = document.getElementById("pro");

// function remove() {
//   q--;
//   if (q == 0) {
//     q = 0;
//     removeCart();
//   }
//   document.getElementById("bt").innerHTML = q;
//   console.log(q);
// }
// for (let i = 0; i < laptopAccesoriesStock.length; i++) {
//   parent.innerHTML = `<img src=${laptopAccesoriesStock[i].image} alt=""  />`;
//   console.log(laptopAccesoriesStock[i].image);
//   const card = document.getElementById("parent");
//   card.insertAdjacentHTML(
//     "afterbegin",
//     `      <div class="card" id="laptop">` +
//       `<img src=${laptopAccesoriesStock[i].image} alt="" width="100%" />` +
//       `<h1>${laptopAccesoriesStock[i].name}</h1>` +
//       `<p class="">Rs. ${laptopAccesoriesStock[i].price}</p>` +
//       // `<p>${laptopAccesoriesStock[i].description}</p>` +
//       `<div class="btns"><button class="btn"  onclick="remove()" > -</button>` +
//       `<p  class="btn" id="bt" >${q}</p>` +
//       `<button  class="btn"   onclick="add()"> +</button></div>` +
//       `<p><button class="cart" onclick="addCart(${i})">Add to Cart</button></p></div>`
//   );
// }
// function add() {
//   q++;
//   document.getElementById("bt").innerHTML = q;
//   console.log(q);
// }
// let index = 1;

// let cartpro = [];

// function addCart(e) {
//   pro = laptopAccesoriesStock.filter(filter);
//   function filter(x) {
//     return x === laptopAccesoriesStock[e];
//   }
//   console.log(pro[0].name);
//   for (let i = 0; i < cartpro.length; i++) {
//     let text;
//     if ((text = cartpro[i].name == pro[0].name)) {
//       console.log(text);
//       let r = document.getElementsByClassName("r");
//       r.innerHTML = `${++q}`;
//     }
//   }
//   let t;
//   if ((t = cartpro.name !== pro[0].name)) {
//     console.log(t);
//     cartpro.push(pro[0]);
//     console.log(cartpro);
//     cat.insertAdjacentHTML(
//       "afterend",
//       `<div class="p">
//       <img src=${pro[0].image} alt="" width="10%" />
//         <h3>${pro[0].name}</h3>
//         <h3>${pro[0].price}</h3>
//  <div class="btns"><button class="btn"  onclick="remove()" > -</button>
//       <p  class="btn" id="bt" >${q}</p>
//       <button  class="btn"   onclick="add()"> +</button></div>
//         <hr></div> `
//     );
//   }
// }
// function total() {
//   let sum = 0;
//   for (let i = 0; i < cartpro.length; i++) {
//     let but = document.getElementById("but");
//     let p = cartpro[i].price;
//     console.log(p);
//     console.log(q);
//     sum = sum + p * q;

//     but.innerHTML = `<h3>Total:${sum} </h3>`;
//   }
// }
// function removeCart() {
//   let none = document.querySelector(".p");
//   none.style.display = "none";
// } */
